@inject NavigationManager NavigationManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <meta name="keywords" content="MudBlazor,Theme Manager,Theme Creator,Bootswatch Blazor,Bootswatch MudBlazor,Bootstrap Blazor,Bootstrap MudBlazor, Material Design Blazor" />
    
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Theme Creator - MudBlazor Theme Manager & Bootswatch Export" />
    <meta property="og:url" content="https://themes.mudx.org" />
    <meta property="og:site_name" content="Theme Creator" />
    <meta property="og:image" content="https://themes.mudx.org/ThemeCreator.png" />
    <meta property="og:image:alt" content="Preview of Theme Creator for MudBlazor" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Theme Creator - MudBlazor Theme Manager" />
    <meta name="twitter:description" content="Easily create and manage MudBlazor themes, including Bootstrap imports." />
    <meta name="twitter:image" content="https://themes.mudx.org/ThemeCreator.png" />
    <meta name="google-adsense-account" content="ca-pub-9521363170451553">
    <meta name="pinterest-rich-pin" content="true" />
    
    <base href="/" />

    <link rel="canonical" href="@NavigationManager.Uri" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet" />
    @* <link id="mudex-styles" href="@Assets["_content/MudBlazor.Extensions/mudBlazorExtensions.min.css"]" rel="stylesheet"> *@
    <link href="@Assets["tooltip-extensions.min.css"]" rel="stylesheet" />

    <!-- Separate app level items from dependencies -->
    <link href="@Assets["app.css"]" rel="stylesheet" />
    <link href="@Assets["ThemeCreator.ico"]" rel="icon" type="images/png" />
    <link rel="stylesheet" href="@Assets["MudBlazorThemes.UI.styles.css"]" />

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src=@Assets["_content/MudBlazor/MudBlazor.min.js"] type="text/javascript"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9521363170451553"
         crossorigin="anonymous"></script>

    <!-- Separate app level items from dependencies -->
    <script src="@Assets["js/ThemeCreator.js"]" type="text/javascript"></script>
</body>

</html>
