@page "/export"
@inject IThemeStateService themeState

<PageTitle>Save MudBlazor Theme</PageTitle>

<MudStack Row>
    <MudTooltip Text="Refresh the code and css snippets">
        <MudIconButton Class="mr-10 ml-10" Icon="@Icons.Material.Filled.Refresh" Size="Size.Large"
                       OnClick="@RefreshData" />
    </MudTooltip>
    <MudText Typo="Typo.h3">Export MudBlazor Theme</MudText> 
</MudStack>
<br />

<MudText Typo="Typo.h6">
    <MudIcon Icon="@Icons.Material.Filled.Construction" Color="Color.Warning" />
    Under Construction - Verify before Use, Hit Refesh Icon if your data changes to rebuild classes
    <MudIcon Icon="@Icons.Material.Filled.Construction" Color="Color.Warning" />
</MudText>

<MudPaper Elevation="0" Width="60%" Class="my-6" Style="text-align: center;">
    <MudText>
        This page will help you export your MudBlazor theme to use in your application.
        It will provide you with a C# class to reference in your application or CSS files to include in your application.
        Expand one of the panels to get more information. If you change anything in the theme or select a new theme you
        must click the Refresh button above to regenerate the code.
    </MudText>
</MudPaper>

<MudExpansionPanels Class="save-expansion-panels" MultiExpansion="true">

    <MudExpansionPanel Text="Theme Class in C#">
        <MudExpansionPanel Text="Instructions">
            This will show a C# class you can place somewhere in your application and reference from ThemeProvider in your MainLayout.razor.
            <ol class="px-6 pb-1 pt-3">
                <li>Copy the Contents below, copy icon is in upper right.</li>
                <li>In Visual Studio "Add Class" if you do not already have a custom theme class.</li>
                <li>Name that Class something like DefaultThemes or CustomThemes as you wish</li>
                <li>Inside the class paste the contents of your clipboard, making sure to update the themename
                    <ul class="pl-3 pb-1"><li>- public static readonly MudTheme [ThemeNameHere]</li></ul>
                </li>
            </ol>
        </MudExpansionPanel>

        <CodeBlock @key="keyId" Language="csharp" Code="@themeCode" />
    </MudExpansionPanel>

    <MudExpansionPanel Text="CSS Classes">
            <MudExpansionPanel Text="Instructions">
                Copy each of these into a separate CSS file you can place in your application's wwwroot folder, then add the following line to your App.razor/Index.html.
                It's purpose is to overwrite all the variables MudBlazor uses to theme components except for light/dark mode.
                <CodeBlock Code="&lt;link href='themename-static.css' rel='stylesheet' /&gt;" Language="html" />

                In your MainLayout or other layout file add a section:
                @{
                    var codeSnippet = @"<link @if (isDark) {
                href=""themename-dark.css""
                } else {
                href=""themename-light.css""
                } rel=""stylesheet"" />";
                }
            <CodeBlock Code="@codeSnippet" Language="csharp" />

                Then add a boolean isDark to output dark or light mode CSS depending on your need. If you don't plan to offer both, then just include the -light or -dark in your App.razor.
            </MudExpansionPanel>

            <MudExpansionPanel Text="Static CSS">
            <CodeBlock @key="keyId" Language="css" Code="@themeStatic" />
            </MudExpansionPanel>

            <MudExpansionPanel Text="Dark Mode CSS">
            <CodeBlock @key="keyId" Language="css" Code="@themeDark" />
            </MudExpansionPanel>

            <MudExpansionPanel Text="Light Mode CSS">
                    <CodeBlock @key="keyId" Language="css" Code="@themeLight" />
            </MudExpansionPanel>
    </MudExpansionPanel>
</MudExpansionPanels>

@code {
    private string themeLight = string.Empty;
    private string themeDark = string.Empty;
    private string themeStatic = string.Empty;
    private string themeCode = string.Empty;
    private int keyId = 0;

    protected override void OnInitialized()
    {
        themeLight = themeState.GenerateDarkLightCSS(false);
        themeDark = themeState.GenerateDarkLightCSS(true);
        themeStatic = themeState.GenerateStaticCSS();
        themeCode = themeState.GenerateCSharpCode();
    }

    private void RefreshData()
    {
        themeLight = themeState.GenerateDarkLightCSS(false);
        themeDark = themeState.GenerateDarkLightCSS(true);
        themeStatic = themeState.GenerateStaticCSS();
        themeCode = themeState.GenerateCSharpCode();
        keyId++;
    }
}
