@typeparam T 

<div @onkeydown:preventDefault="true">
    <MudStack Class="pr-6 shadow-selector" Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween"
              tabindex="0" @onkeydown="HandleKeyDown">
    @if (SpinnerList.Count > 0)
        {
            <MudSelect T="int" ShrinkLabel="true" Value="@SpinnerIndex" ValueChanged="@SetSpinnerIndex" Label="Style" LockScroll>
                @for (int i = 0; i < SpinnerList.Count; i++)
                {
                    var index = i;
                    var item = SpinnerList[i];
                    <MudSelectItem Value="@i">@item</MudSelectItem>
                }
            </MudSelect>
        }
        <MudStack Spacing="0" AlignItems="AlignItems.Center" Class="icon-buttons-stack">
            <MudIconButton OnClick="@(() => ChangeSpinnerIndex(-1))"
                           Disabled="@(SpinnerIndex == 0)"
                           Icon="@Icons.Material.Filled.KeyboardArrowUp" Size="Size.Small" />
            <MudIconButton OnClick="@(() => ChangeSpinnerIndex(1))"
                           Disabled="@(SpinnerIndex > SpinnerList?.Count - 2)"
                           Icon="@Icons.Material.Filled.KeyboardArrowDown" Size="Size.Small" />
        </MudStack>
    </MudStack>
</div>
